/* projectdetails.css */

/* Global reset for the component */
.test__section {
  padding: 2rem;
  color: var(--text-color);
  /* background-color: #f9f9f9; */
}

/* Header Styles */
.project-details__header {
  text-align: center;
  margin-bottom: 2rem;
}

.project-details__title {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--title-color-dark);
  margin-top: 30px;
  margin-bottom: 0.5rem;
}

.project-details__subtitle {
  font-size: 1.2rem;
  color: #555;
}

/* Grid Layout */
.projectdetails__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .projectdetails__container {
    grid-template-columns: 1fr;
  }
}

/* Image Carousel */
/* .project-details__image {
  position: relative;
  text-align: center;
} */

.project-details__image {
  position: relative; /* Conteneur pour positionner les flèches */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .carousel-image {
  max-width: 100%;
  max-height: 500px; 
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(var(--body-color-rgb), 0.4);
  transition: transform 0.2s ease-in-out; 
  cursor: grab; 
} */

.carousel-image {
  max-width: 100%;
  max-height: 500px; /* Empêcher des images trop grandes */
  object-fit: contain; /* Maintenir les proportions de l'image */
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}


.arrow {
  position: absolute;
  top: 50%; /* Centrer verticalement par rapport à l'image */
  transform: translateY(-50%);
  background-color: transparent; /* Fond semi-transparent pour mieux se démarquer */
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  color: rgba(var(--body-color-rgb), 0.8);
}


.arrow.prev {
  left: -2rem; /* Distance ajustée par rapport au bord gauche de l'image */
}

.arrow.next {
  right: -2rem; /* Distance ajustée par rapport au bord droit de l'image */
}

.arrow__button-icon {
  font-size: 1.5rem;
}

/* Info Section */
.project-details__info {
  padding: 1rem;
  background-color: var(--body-color);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(var(--body-color-rgb), 0.2);
}

/* Tabs */
.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab-links {
  position: relative;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--title-color); /* Ajuste selon ton thème */
  cursor: pointer;
  transition: color 0.3s ease;
}

.tab-links:hover {
  color: var(--text-color); /* Couleur au survol */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.tab-links::after {
  content: '';
  width: 0%;
  height: 3px;
  background: var(--text-color); /* Ligne colorée */
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
}

.tab-links.active::after {
  width: 100%; /* Largeur de la ligne active */
}


/* Tab content */
.tab-content { 
  padding: 1rem;
  
}
.tab-panel {
  animation: fadeIn 0.3s ease-in-out;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Lists inside the tabs */
.tab-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-panel li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.tab-panel li strong {
  color: var(--title-color-dark);
  margin-right: 0.5rem;
}

/** MODAL **/
.modal {
  display: none; /* Masquer la modale par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(var(--body-color-rgb), 0.8); /* Fond semi-transparent */
  padding: 1rem;
}

.modal img {
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 10px;
}

.modal.active {
  display: flex; /* Afficher la modale quand elle est active */
  align-items: center;
  justify-content: center;
}

.tab-panel .badge-check{
  font-size: 1rem;
  color: var(--title-color);
  margin-right: 1rem;
}

/*======BREAKPOINTS======*/
/* For large devices */
@media screen and (max-width: 992px){

}

/* For medium devices */
@media screen and (max-width: 768px) {
  .project-details__title {
    margin-left: 1rem;
    
  }
}


/* For small devices */
@media screen and (max-width: 350px){

  .project-details__title {
    margin-left: 1rem;
    
  }
 
}
