
/** NOTE : CE FICHIER SEMBLAIT POSER PB A LA SECTION HOME ???????????? **/  


.projects.section{
    display: flex;
    flex-direction: column; /* Pour garder le titre et le contenu dans une seule colonne */
    align-items: center; /* Centre tout horizontalement */
}
/* Container for the projects */
.projects__container {
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 7rem;
}

/* Individual project item */
.projects__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 250px;
    height: 250px;
}

.projects__item:hover {
    transform: scale(1.05); /* Slightly zoom in on hover */
}

/* Overlay - apparaîtra au survol */
.projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.6);  */
    background-color: rgba(var(--body-color-rgb), 0.6); 
    /* background-color: var(--text-color);  */
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* Affichage de l'overlay au survol */
.projects__item:hover .projects__overlay {
    opacity: 1;
}

/* Project title and description in the overlay */
.projects__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--title-color-dark-overlay);
}

.projects__description {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
    color: var(--body-color);
    font-style: italic;
}

.projects__see-more {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: var(--title-color-dark-overlay);
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.projects__see-more:hover {
    background-color: var(--title-color);
}


/* Responsive Design */

@media screen and (max-width: 992px) {
    .projects__container {
        grid-template-columns: repeat(1fr); /* 2 columns on tablets */
        justify-content: center;
        column-gap: 2rem;
        /* margin-left: (2.5rem); */
    }

}
@media screen and (max-width: 768px) {
    .projects__container {
        grid-template-columns: repeat(1fr); /* 2 columns on tablets */
        justify-content: center;
        column-gap: 2rem;
    }
    
}

@media screen and (max-width: 576px) {
    .projects__container {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
    .projects__item {
        min-height: 250px; /* Smaller height for mobile */
    }
}